<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Flag</th>
      <th scope="col">Country</th>
      <th scope="col">Country Code</th>
      <th scope="col">Date</th>
      <th scope="col">Confirmed</th>
      <th scope="col">Active</th>
      <th scope="col">Deaths</th>
      <th scope="col">Recovered</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of mainData; index as i">
      <th scope="row"></th>
      <td>
        <img
          [src]="'https://www.countryflags.io/' + data.countryCode + '/shiny/64.png'"
          class="mr-2"
          style="width: 20px"
        />
      </td>
      <td>{{ data.country }}</td>
      <td>{{ data.countryCode }}</td>
      <td>{{ data.date }}</td>
      <td>{{ data.confirmed }}</td>
      <td>{{ data.active }}</td>
      <td>{{ data.deaths }}</td>
      <td>{{ data.recovered }}</td>
    </tr>
  </tbody>
</table>
