<footer>
  <div class="container">
    <div class="d-flex justify-content-center">
      <ul class="menu list-inline row">
        <li style="font-size:20px">
          <a routerLink="/static/about-us">About Us</a>
        </li>

        <li style="font-size:20px">
          <a routerLink="/static/help-line">HelpLine</a>
        </li>

        <li style="font-size:20px">
          <a routerLink="/static/desk">Desk</a>
        </li>

        <li style="font-size:20px">
          <a routerLink="/static/security">Security</a>
        </li>

        <li style="font-size:20px">
          <a routerLink="/static/contact-us">Contact</a>
        </li>

        <li style="font-size:20px">
          <a href="/static/privacy">Privacy</a>
        </li>
      </ul>
    </div>

    <div class="d-flex justify-content-center">
      <ul class="menu list-inline row">
        <li>
          <a href="#">
            <i class="fa fa-facebook fa-2x"></i>
          </a>
        </li>

        <li>
          <a href="#">
            <i class="fa fa-instagram fa-2x"></i>
          </a>
        </li>

        <li>
          <a href="#">
            <i class="fa fa-linkedin fa-2x"></i>
          </a>
        </li>

        <li>
          <a href="#">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
        </li>

        <li>
          <a href="#">
            <i class="fa fa-google fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class=" d-flex justify-content-center">
      <p>Copyright © 2020 All rights reserved</p>
    </div>
  </div>
</footer>
